.select-dropdown {
    position: relative;
    background-color: #e6e6e6;
    width: min-content;
    max-width: 100%;
    border-radius: 2px;
}

.select-dropdown:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
}

select {
    font-size: 14px;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:active,
select:focus {
    outline: none;
    box-shadow: none;
}