<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/static/assets/images/logo.png">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7CPoppins:400%7CTeko:300,400">
        <link rel="stylesheet" href="/static/frontend/css/bootstrap.css">
        <link rel="stylesheet" href="/static/frontend/css/main_fonts.css">
        <link rel="stylesheet" href="/static/frontend/css/main_style.css">
        {{{ resources }}}
        <title>{{ title }} - Pleasant Tours</title>
    </head>
    <body>
        <div class="preloader">
            <div class="preloader-body">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
                <p>Loading...</p>
            </div>
        </div>
        <div class="page">
            {{#navigation_bar}}
                <header class="section page-header">
                    <!-- RD Navbar-->
                    <div class="rd-navbar-wrap">
                        <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                            data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                            data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                            data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
                            data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
                            data-xxl-stick-up-offset="106px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                                data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                            <div class="rd-navbar-aside-outer">
                                <div class="rd-navbar-aside">
                                    <!-- RD Navbar Panel-->
                                    <div class="rd-navbar-panel">
                                        <!-- RD Navbar Toggle-->
                                        <button class="rd-navbar-toggle"
                                            data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                        <!-- RD Navbar Brand-->
                                        <div class="rd-navbar-brand">
                                            <!--Brand--><a class="brand" href="#"><img src="/static/assets/images/logo.png"
                                                    alt="" style="width:35px;height:35px" /></a>
                                        </div>
                                        <a href="/">Pleasant Tours</a>
                                    </div>
                                    <div class="rd-navbar-aside-right rd-navbar-collapse">
                                        {{^logged_in}}
                                            <a class="button button-md button-default-outline-2 button-ujarak" href="/authentication/log_in.php">Log In</a>
                                            <a class="button button-md button-default-outline-2 button-ujarak" href="/authentication/sign_up.php">Sign Up</a>
                                        {{/logged_in}}
                                        {{#logged_in}}
                                            <div style="display:flex;margin-right:-30px"> <!-- TODO: change password + delete account -->
                                                <span>Welcome back,</span>
                                                <a href="#" style="margin-left:5px">{{ username }}</a>
                                                <span>!</span>
                                            </div>
                                            <a class="button button-md button-default-outline-2 button-ujarak" href="/authentication/log_out.php">Log Out</a>
                                        {{/logged_in}}
                                    </div>
                                </div>
                            </div>
                            <div class="rd-navbar-main-outer">
                                <div class="rd-navbar-main">
                                    <div class="rd-navbar-nav-wrap">
                                        <!-- RD Navbar Nav-->
                                        <ul class="rd-navbar-nav">
                                            <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                                            </li>
                                            <li class="rd-nav-item"><a class="rd-nav-link" href="/tours/list.php">Tours</a>
                                            </li>
                                            {{^logged_in}}
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="/about.php">About Us</a>
                                                </li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="/contact.php">Contact Us</a>
                                                </li>
                                            {{/logged_in}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            {{/navigation_bar}}
            {{{ content }}}
            {{#footer}}
                <footer class="section footer-corporate context-dark" id="footer">
                    <div class="footer-corporate-inset">
                        <div class="container">
                            <div class="row row-40 justify-content-lg-between">
                                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                                    <div class="oh-desktop">
                                        <div class="wow slideInRight" data-wow-delay="0s">
                                            <h6 class="text-spacing-100 text-uppercase">Contact Us</h6>
                                            <ul class="footer-contacts d-inline-block d-sm-block">
                                                <li>
                                                    <div class="unit">
                                                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                        <div class="unit-body"><a class="link-phone" href="tel:1800 1141">1800 1141</a></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="unit">
                                                        <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                                                        <div class="unit-body"><a class="link-aemail"
                                                                href="mailto:pgood8471@gmail.com">pgood8471@gmail.com</a></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="unit">
                                                        <div class="unit-left"><span class="icon fa fa-location-arrow"></span>
                                                        </div>
                                                        <div class="unit-body"><a class="link-location" href="https://goo.gl/maps/w24MCzmGU1HuQtFSA">285 Doi Can, Vinh Phu, Ba Dinh, Hanoi 100000</a></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                                    <div class="oh-desktop">
                                        <div class="wow slideInLeft" data-wow-delay="0s">
                                            <h6 class="text-spacing-100 text-uppercase">Quick Links</h6>
                                            <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/tours/list.php">Tours</a></li>
                                                <li><a href="/about.php">About Us</a></li>
                                                <li><a href="/contact.php">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            {{/footer}}
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <script src="/static/frontend/js/core.min.js"></script>
        <script src="/static/frontend/js/script.js"></script>
    </body>
</html>